html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;

  font-size: 1em;
}

a {
  text-decoration: none;
  color: inherit;
}

html body {
  padding-top: 70px;
  background-color: #756ab6;
}

/* Want to shrink to same size as nav when scrolling down */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #ffe5e5;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header-top {
  width: 100%;
  display: flex;
  flex-shrink: 1;
  justify-content: space-evenly;
  padding: 5px 0 5px 0;
  align-items: center;
}

.header-logo img {
  display: flex;
  border-radius: 15px;
  justify-content: center;
  margin-left: 100px;
}

.searchbar {
  display: flex;
  flex: 3;
  justify-content: center;
}

.header-menu {
  display: flex;
  margin-right: 100px;
  flex-direction: column;
  font-size: 0.8em;
}

.login-box {
  display: none;
}

/* Drop down box */
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  padding: 5px 0 5px 0;
  flex-shrink: 0;
}

nav a {
  color: black;
  text-decoration: none;
}

.header-bar {
  background-color: #ac87c5;
  padding: 2.5px;
  width: 100%;
}

h1 {
  text-align: center;
}

.intro-image {
  text-align: center;
  font-size: 3em;
  background-image: url("images/crochet1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffbfb;
  margin-top: 145px;
  padding: 3em;
}

.content img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  width: 225px;
  height: 225px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  font-size: 2.5em;
  background-color: white;
}

.custom {
  display: flex;
  flex-direction: column;
  background-color: #ffe5e5;
  padding: 10px 0 10px 0;
  font-size: 2.5em;
}

/* round corners of image with border */
.custom img {
  border: 5px solid;
}

.pagetitle {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 4;
  align-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #756ab6;
  color: white;
  position: relative;
  width: 100%;
}

.footer-nav-head {
  font-weight: bold;
  padding: 5px;
}

.footer a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: px;
}

.return {
  padding: 5px 0 5px 0;
  background-color: #756ab6;
  color: white;
  border: none;
  font-weight: bold;
}
